/*
 * File         : mainStyle.css
 *
 * Date         : Thursday 30th April 2020
 *
 * Description  : All extra styling which will be commonly used throughout all pages, will be used on most of the pages
 *
 * History      : 30/04/2020   --v1.00
 *
 * Author       : Matthew Dalzell   100227419
 */

/* controlling the size of the logo to stay consistent */
.logo{
    height : 2.5em;
    width : 3.25em;
    float : left;
}