<!--
 * File         : end.html
 *
 * Date         : Thursday 28th May 2020
 *
 * Description  : The final screen showing them how they have done
 *
 * History      : 28/05/2020    --v1.00
 *
 * Author       : Matthew Dalzell   100227419
--><!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org">
<head>
    <title>E-Algebra</title>
    <meta http-equiv="Content-Type" content = "text/html; charset=UTF-8"/>
    <!-- putting the other links which are needed into here -->
    <link rel="icon" type="image/png" href="images/logo2.png">
    <meta name="viewport" content="width = device-width, initial scale = 1">
    <link rel="stylesheet" type="text/css" href ="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style/mainStyle.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
<div class="container-fluid bg-standard">
    <div class="jumbotron bg-secondary content-left">
        <img src="images/logo2.png" alt="logo" class="content-left logo" ><h1 class="text-standard text-center">E-Algebra</h1>
    </div>
    <div class="jumbotron bg-light text-center">
        <br><br>
        <h4 th:text = "${questions.score()}"/>
        <br><br>
        <a class="btn btn-primary" href="/" role="button">Back to home</a>
    </div>
</div>
</body>
</html>