<!---
 * File         : output.html
 *
 * Date         : Thursday 30th April 2020 2020
 *
 * Description  : Testing the workings of MathJax in unison with answer.html, this returns their answer in latex style
 *                TO BE USED WITH ANSWER.HTML, ONLY FOR TESTING
 *
 * History      : 30/04/2020   --v1.00
 *
 * Author       : Matthew Dalzell   100227419
 -->

<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>E-Algebra</title>
    <meta http-equiv="Content-Type" content = "text/html; charset=UTF-8"/>
    <!-- putting the other links which are needed into here -->
    <link rel="icon" type="image/png" href="images/logo2.png">
    <meta name="viewport" content="width = device-width, initial scale = 1">
    <link rel="stylesheet" type="text/css" href ="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style/mainStyle.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
<div class="container-fluid bg-standard">
    <div class="jumbotron bg-secondary content-left">
        <img src="images/logo2.png" alt="logo" class="content-left logo" ><h1 class="text-standard text-center">E-Algebra</h1>
    </div>
    <div class="jumbotron bg-light text-center">
        <br><br>
         <h3 th:text = "'\['+${answer.latexString}+'\]'"/>
        <br><br>
        <!-- put a button in here for going back -->
        <a class="btn btn-primary" href="/answer" role="button">Try again</a>
    </div>
</div>
</body>

</html>