<!--
 * File         : question5.html
 *
 * Date         : Wednesday 27th May 2020
 *
 * Description  : Webpage for asking question 5
 *
 * History      : 27/05/2020    --v1.00
 *
 * Author       : Matthew Dalzell   100227419
--><!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org">
<head>
    <title>E-Algebra | Question 5</title>
    <meta http-equiv="Content-Type" content = "text/html; charset=UTF-8"/>
    <!-- putting the other links which are needed into here -->
    <link rel="icon" type="image/png" href="images/logo2.png">
    <meta name="viewport" content="width = device-width, initial scale = 1">
    <link rel="stylesheet" type="text/css" href ="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style/mainStyle.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
<div class="container-fluid bg-standard">
    <div class="jumbotron bg-secondary content-left">
        <img src="images/logo2.png" alt="logo" class="content-left logo" ><h1 class="text-standard text-center">E-Algebra</h1>
    </div>
    <div class="jumbotron bg-light text-center">
        <br><br>
        <h2>Question 5</h2>
        <h3>Factorise and simplify the following</h3>
        <h4 th:text = "'\['+${questions.getQuestion5().latexToString()}+'\]'"/>
        <form action = "#" th:action="@{/question5}" th:object = "${questions}" method = "post">
            <p>Numerator : <input type="text" th:field="*{ans5aString}"/></p>
            <p>Denominator : <input type = "text" th:field="*{ans5bString}"/></p>
            <p><input type = "submit" value = "Submit"/><input type = "reset" value = "Reset"/></p>
        </form>
        <br><br>
    </div>
</div>
</body>
</html>